@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}


<div class="text-left">
    <h2 class="display align-self-lg-start">  What are the main features of this app?</h2>
    @*<p> The DiaryApp is a tool that helps you achieve your goals.</p>*@
    @*<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>*@

</div>
