@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid py-lg-5 m-lg-3">
    
    <h1>About Focused Diary</h1>


</div>
    <div class="container-fluid py-lg-5 m-lg-3">


        <div class="row justify-content-start">
            <div class="col-8">
                @*<h2 class="display align-self-lg-start">  What are the main features of this app?</h2>*@
                <h3 class="display align-content-md-end text-dark">

                    This diary helps to set a goal and achieve it effectively.<br>
                    To do this, use the SMART method.<br>
                    What is the SMART method?<br>
                    According to this method, the goal should be:
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-specific-list" data-toggle="list" href="#list-specific" role="tab" aria-controls="specific"><strong>S</strong>pecific</a>
                    <a class="list-group-item list-group-item-action" id="list-measurable-list" data-toggle="list" href="#list-measurable" role="tab" aria-controls="measurable"><strong>M</strong>easurable</a>
                    <a class="list-group-item list-group-item-action" id="list-attainable-list" data-toggle="list" href="#list-attainable" role="tab" aria-controls="attainable"><strong>A</strong>ttainable</a>
                    <a class="list-group-item list-group-item-action" id="list-relevant-list" data-toggle="list" href="#list-relevant" role="tab" aria-controls="relevant"><strong>R</strong>elevant</a>
                    <a class="list-group-item list-group-item-action" id="list-time-bound-list" data-toggle="list" href="#list-time-bound" role="tab" aria-controls="time-bound"><strong>T</strong>ime-bound</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-specific" role="tabpanel" aria-labelledby="list-specific-list">The goal should be clear, specific. What does it mean? Going to the gym regularly is not a specific goal. The specific purpose is in which the specifics are indicated and there are numbers. In the case of a gym, it is necessary to indicate the place of occupation, the sport and the frequency of visits.</div>
                    <div class="tab-pane fade" id="list-measurable" role="tabpanel" aria-labelledby="list-measurable-list">The goal must have measurable results. Learning a foreign language is an immeasurable goal. The goal is measurable - pass IELTS by 8 points. Thus, it is easier to understand: you have reached the goal or not.</div>
                    <div class="tab-pane fade" id="list-attainable" role="tabpanel" aria-labelledby="list-attainable-list">Make sure the goal is attainable. Let it be not only a challenge, but also an opportunity to reach it by work.</div>
                    <div class="tab-pane fade" id="list-relevant" role="tabpanel" aria-labelledby="list-relevant-list">Each goal must be relevant to your wishes. It should reflect the results you really want.</div>
                    <div class="tab-pane fade" id="list-time-bound" role="tabpanel" aria-labelledby="list-time-bound-list">Set a deadline: six months, month and week. Setting close goals helps to keep them constantly in mind, thereby making it more attainable. The goal should not sound like a simple desire to open a business without exact dates.</div>
                </div>
            </div>
        </div>

    </div>




    @*<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                According to this method, the goal should be:</a>
                <a href="#" class="list-group-item list-group-item-action"> Specific</a>
                <a href="#" class="list-group-item list-group-item-action">Measurable</a>
                <a href="#" class="list-group-item list-group-item-action">Attainable</a>
                <a href="#" class="list-group-item list-group-item-action"> Relevant</a>
                <a href="#" class="list-group-item list-group-item-action">Time-bound</a>
        </div>*@



    @*<p> The DiaryApp is a tool that helps you achieve your goals.</p>*@
    @*<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>*@


