

@model IEnumerable<DiaryAppOlga.Models.UserAim>


@{
    ViewData["Title"] = "Aim";
}

<h1>My Aim</h1>

@*<a class="alert-light" asp-action="CreateAim">Add the aim</a>*@
<table class="table table-striped">
    <tr><td>Aim</td><td>Description</td><td>StartDate</td><td>EndDate</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Aim</td>
    <td>@item.Description</td><td>@item.StartDate</td><td>@item.EndDate </td></tr>
    }
</table>
@*<a class="badge-primary" asp-action="CreateAim"> Set aim </a>*@

<a class="btn btn-light btn-circle btn-circle-lg m-1"  asp-action="CreateAim"> + <i></i></a>

