@model DiaryAppOlga.Models.UserAim

@{

    ViewBag.Title = "Details";
}

  
<div class="container-fluid py-lg-3 m-lg-3">
    <div class="row align-items-center h-100">
       <card class="col-6 mx-auto">
            <div class="card card-shadow w-100 text-center">
                <img class="card-img-top" src="https://i0.wp.com/becomingyourself.net/wp-content/uploads/2019/01/hello-i-m-nik-698722-unsplash.jpg?resize=676%2C825&ssl=1" alt=" " width="200" height="400" @*class="img-fluid" *@>
                <div class="card-header">
                    <h2>
                        @Html.DisplayFor(modelItem => modelItem.Aim)
                    </h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Reach until: @Html.DisplayFor(modelItem => modelItem.EndDate)</h5>
                    <p class="card-text text-truncate">@Html.DisplayFor(modelItem => modelItem.Description)</p>
                    <a asp-action="Aim" class="btn btn-outline-dark-rounded">Back to List</a>
                    <a asp-action="Aim" class="btn btn-outline-dark-rounded">Edit</a>
                    <a asp-action="Aim" class="btn btn-outline-dark-rounded">Delete</a>
                </div>
            </div>
       </card>
    </div>
</div>

