
@{
    ViewData["Title"] = "Index";
}


<header class="masthead">
    
    <div class="container h-100">
        
            <div class="row h-100 align-items-center">

                <div class="col-12 jumbotron jumbotron-fluid bg-transparent text-dark">
                    @*<blockquote class="text-xl-left">
                                                <p class="lead font-italic font-weight-bold">
                            "Always remember,<br> your focus<br> determines<br>your reality.” <br>
                        <p class="text-muted font-italic">— George Lucas</p>

                    </blockquote>*@
                    <div class="container">
                        <h1 class="display-4 text-center">Reach your goals with Focused Diary!</h1>
                        <p class="lead text-center text-break"><strong>It is more than just a diary</strong> @*The Focused Diary is a tool that will help you achieve your goals.*@</p>

                        <p class="lead text-center"><a class="btn btn-warning btn-lg card-shadow toggle" asp-action="About" role="button">Learn more &raquo;</a></p>
                    </div>
                </div>
            </div>

        </div>
</header>


<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Page Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
    </div>
</section>