@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid py-lg-5 m-lg-3">
    <h1>@ViewData["Title"]</h1>
 </div>
    <div class="container-fluid m-lg-2">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>